nav {
  background-color: blanchedalmond
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em 4em;
  background-color: lightgrey;
}

.form input{
  margin: 0em 2em;
}